.root {
    -fx-padding: 0;

    /*
        Colors (derived from https://yeun.github.io/open-color/)
    */

    /* primary */
    -white-color: #FFFFFF;
    -base-color: #4263EB;
    -black-color: #212529;

    /* tertiary */
    -hover-color: #5C7CFA;
    -pressed-color: #364FC7;
    -disabled-color: #BAC8FF;
    -focus-color: #BAC8FF;

    -bg_blue-color: #F4F7FF;
    -bg_red-color: #FFF5F5;

    /* secondary */
    -gray_6-color: #868E96;
    -gray_5-color: #ADB5BD;
    -gray_3-color: #DEE2E6;
    -gray_2-color: #E9ECEF;
    -gray_1-color: #F1F3F5;
    -gray_0-color: #F8F9FA;

    -blue_3-color: #74c0fc;

    -indigo_9-color: #364FC7;

    -red_9-color: #c92a2a;
    -red_2-color: #ffc9c9;
    -red_1-color: #ffe3e3;
    -red_0-color: #fff5f5;

    -fx-background-color: -white-color;
}

/*
    Typography
 */

.text {
    -fx-font-smoothing-type: gray;
}

.text-pink_9 {
    -fx-text-fill: -pink_9-color;
}

.text-indigo_9 {
    -fx-text-fill: -indigo_9-color;
}

.button, .label, .text-field, .combo-box, .radio-button, .list-cell {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}

.radio-button {
    -fx-font-family: 'Inter Medium';
}

.body-medium {
    -fx-font-family: 'Inter Medium';
}

.caption {
    -fx-text-fill: -gray_6-color;
}

/* heading */

.h6 {
    -fx-font-family: 'Inter Medium';
    -fx-font-size: 20;
}

.h5 {
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 24;
}

/*
    Buttons
 */

.button {
    -fx-background-color: -base-color;
    -fx-text-fill: -white-color;
    -fx-font-family: 'Inter Semi Bold';
    -fx-padding: 6 12;
    -fx-background-radius: 6;
    -fx-pref-height: 32;
    -fx-background-insets: 0;
    -fx-content-display: right;
    -fx-graphic-text-gap: 8;
}

.button:disabled {
    -fx-opacity: 1;
    -fx-background-color: -disabled-color;
}

.button:focused {
    -fx-background-color: -focus-color, -base-color;
    -fx-border-width: 0;
    -fx-background-radius: 9, 6;
    -fx-background-insets: -4, 0;
}

.button:hover {
    -fx-background-color: -focus-color, -hover-color;
}

.button:pressed {
    -fx-background-color: -focus-color, -pressed-color;
}

/* secondary */
.button-secondary, .button-secondary:hover, .button-secondary:focused, .button-secondary:pressed {
    -fx-text-fill: -black-color;
}

.button-secondary {
    -fx-background-color: -focus-color, -gray_3-color;
}

.button-secondary:hover {
    -fx-background-color: -focus-color, -gray_1-color;
}

.button-secondary:focused {
    -fx-background-color: -focus-color, -gray_3-color;
}

.button-secondary:pressed {
    -fx-background-color: -focus-color, -gray_5-color;
}

/* destructive */
.button-destructive, .button-destructive:hover, .button-destructive:focused, .button-destructive:pressed {
    -fx-text-fill: -red_9-color;
}

.button-destructive {
    -fx-background-color: -focus-color, -red_1-color;
}

.button-destructive:hover {
    -fx-background-color: -focus-color, -red_0-color;

}

.button-destructive:focused {
    -fx-background-color: -focus-color, -red_1-color;

}

.button-destructive:pressed {
    -fx-background-color: -focus-color, -red_2-color;
}

.button-icon {
    -fx-padding: 8;
    -fx-pref-height: 32;
    -fx-pref-width: 32;
}

/*
    TextField, ComboBox
 */

.combo-box, .combo-box > * {
    -fx-padding: 0;
}

.text-field, .combo-box {
    -fx-accent: -blue_3-color;
    -fx-background-color: -white-color;
    -fx-prompt-text-fill: -gray_6-color;
    -fx-border-color: -gray_3-color;
    -fx-padding: 6 12;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-insets: 0;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: -hover-color;
    -fx-background-color: -hover-color, -white-color;
    -fx-background-radius: 7.5, 6;
    -fx-background-insets: -1, 0.5;
}

.combo-box:disabled > * {
    -fx-opacity: 1;
    -fx-effect: null;
}

.text-field:disabled, .combo-box:disabled {
    -fx-opacity: 1;
    -fx-background-color: -gray_0-color;
    -fx-border-color: -gray_3-color;
    -fx-background-insets: 0;
}

/* ComboBox */

.combo-box:disabled .text, .combo-box:disabled .arrow-button:disabled .arrow:disabled {
    -fx-fill: -gray_6-color;
    -fx-background-color: -gray_6-color;
}

/*
    Radio Button
*/

.radio-button {
    -fx-label-padding: 0 0 0 8;
}

.radio-button .radio {
    -fx-background-color: -white-color, -gray_3-color, -white-color;
    -fx-background-insets: -4, -1, 0;
}

.radio-button:selected > .radio {
    -fx-background-color: -white-color, -base-color, -base-color
}


.radio-button:selected > .radio > .dot {
    -fx-background-color: -white-color;
    -fx-background-insets: 0;
}

.radio-button:focused > .radio {
    -fx-background-color: -focus-color, -base-color, -base-color
}

.radio-button:armed > .radio {
    -fx-background-color: -focus-color, -gray_3-color, -white-color
}

/*
    ListView (box like things)
*/

.list-view {
    -fx-background-color: -gray_3-color, -white-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6;
    -fx-padding: 4;
}

.list-view:focused {
    -fx-background-color: -hover-color, -white-color;
    -fx-background-radius: 7.5, 6;
    -fx-background-insets: -1, 0.5;
}

.list-cell {
    -fx-background-color: -white-color;
    -fx-padding: 6 12;
}

.list-cell:selected {
    -fx-background-color: #dbe4ff;
    -fx-text-fill: -indigo_9-color;
}

.list-cell:selected:hover {
    -fx-background-color: #edf2ff;
}

/*
    Layout
 */

.import-section {
    -fx-padding: 56, 20;
}

.blue-bg {
    -fx-background-color: -bg_blue-color;
}

.red-bg {
    -fx-background-color: -bg_red-color;
}

.content-wrapper {
    -fx-padding: 32 32 0;
}

.drop-zone {
    -fx-border-color: -white-color;
    -fx-border-width: 2;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
