.root {
    -fx-padding: 0;
    /*
        Colors (Radix UI Colors https://www.radix-ui.com/colors)
    */

    /* primary */

    -color-white: #FFFFFF;
    -color-base: #3E63DD; /* indigo-9 */
    -color-black: #11181C; /* slate-12 */

    -color-hover: #3A5CCC; /* indigo-10 */
    -color-pressed: #3451B2; /* indigo-11 */
    -color-disabled: #AEC0F5; /* indigo-7 */
    -color-focus: #AEC0F5; /* indigo-7 */

    -color-blue_bg: #F8FAFF; /* indigo-2 */

    /* neutral */
    -color-slate_11: #687076;
    -color-slate_10: #7E868C;
    -color-slate_9: #889096;
    -color-slate_8: #C1C8CD;
    -color-slate_7: #D7DBDF;
    -color-slate_6: #DFE3E6;
    -color-slate_5: #E6E8EB;
    -color-slate_4: #ECEEF0;
    -color-slate_3: #F1F3F5;
    -color-slate_2: #F8F9FA;
    -color-slate_1: #FBFCFD;

    /* tertiary */
    -blue_2-color: #a5d8ff;

    -indigo_9-color: #364FC7;
    -indigo_1-color: #dbe4ff;

    -color-tomato_11: #CA3214;
    -color-tomato_5: #FDD8D3;
    -color-tomato_4: #FFE6E2;
    -color-tomato_3: #FFF0EE;
    -bg_red-color: #FFF5F5;

    -fx-background-color: -color-white;
}

/*
    Typography
 */

.text {
    -fx-font-smoothing-type: gray;
    -fx-text-fill: -color-black;
}

.text-input {
    -fx-highlight-text-fill: -color-black;
    -fx-highlight-fill: -color-indigo_5;
}

.text-pink_9 {
    -fx-text-fill: -pink_9-color;
}

.text-indigo_9 {
    -fx-text-fill: -indigo_9-color;
}

.button, .label, .text-field, .combo-box, .radio-button, .list-cell {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}

.radio-button {
    -fx-font-family: 'Inter Medium';
}

.body-medium {
    -fx-font-family: 'Inter Medium';
}

.caption {
    -fx-text-fill: -color-slate_11;
}

/* heading */

.h-sm {
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 16;
}

.h-md {
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 20;
}

/*
    Buttons
 */

.button {
    -fx-background-color: -color-base;
    -fx-text-fill: -color-white;
    -fx-font-family: 'Inter Semi Bold';
    -fx-padding: 6 12;
    -fx-background-radius: 6;
    -fx-pref-height: 32;
    -fx-background-insets: 0;
    -fx-content-display: right;
    -fx-graphic-text-gap: 8;
}

.button:disabled {
    -fx-opacity: 1;
    -fx-background-color: -color-disabled;
}

.button:focused {
    -fx-background-color: -color-focus, -color-base;
    -fx-border-width: 0;
    -fx-background-radius: 9, 6;
    -fx-background-insets: -4, 0;
}

.button:hover {
    -fx-background-color: -color-focus, -color-hover;
}

.button:pressed {
    -fx-background-color: -color-focus, -color-pressed;
}

/* secondary */

.button-secondary, .button-secondary:hover, .button-secondary:focused, .button-secondary:pressed {
    -fx-text-fill: -color-black;
}

.button-secondary {
    -fx-background-color: -color-white, -color-slate_4;
}

.button-secondary:hover {
    -fx-background-color: -color-focus, -color-slate_5;
}

.button-secondary:focused {
    -fx-background-color: -color-focus, -color-slate_4;
}

.button-secondary:pressed {
    -fx-background-color: -color-focus, -color-slate_6;
}

/* tertiary */

.button-tertiary, .button-tertiary:hover, .button-tertiary:pressed .button-tertiary:focused {
    -fx-text-fill: -color-black;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 9, 6, 4.5;
}

.button-tertiary {
    -fx-background-color: -color-focus, -color-slate_7, -color-white;

}

.button-tertiary:focused {
    -fx-background-color: -color-focus, -color-slate_7, -color-white;
    -fx-background-insets: -4, 0, 1;
    -fx-background-radius: 9, 6, 4.5;
}

.button-tertiary:hover {
    -fx-background-color: -color-focus, -color-slate_8, -color-white;
}

.button-tertiary:pressed {
    -fx-background-color: -color-focus, -color-slate_4, -color-slate_4;
}

/* destructive */

.button-destructive, .button-destructive:hover, .button-destructive:focused, .button-destructive:pressed {
    -fx-text-fill: -color-tomato_11;
}

.button-destructive {
    -fx-background-color: -color-white, -color-tomato_3;
}

.button-destructive:hover {
    -fx-background-color: -color-focus, -color-tomato_4;

}

.button-destructive:focused {
    -fx-background-color: -color-focus, -color-tomato_3;

}

.button-destructive:pressed {
    -fx-background-color: -color-focus, -color-tomato_5;
}

.button-icon {
    -fx-padding: 8;
    -fx-pref-height: 32;
    -fx-pref-width: 32;
}

/*
    TextField, ComboBox
 */

.combo-box, .combo-box > * {
    -fx-padding: 0;
}

.text-field, .combo-box {
    -fx-background-color: -color-white;
    -fx-prompt-text-fill: -color-slate_11;
    -fx-border-color: -color-slate_7;
    -fx-padding: 6 12;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-insets: 0;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: -color-base;
    -fx-background-color: -color-base, -color-white;
    -fx-background-radius: 7.5, 6;
    -fx-background-insets: -1, 0.5;
}

.combo-box:disabled > * {
    -fx-opacity: 1;
    -fx-effect: null;
}

.text-field:disabled, .combo-box:disabled {
    -fx-opacity: 1;
    -fx-background-color: -color-slate_3;
    -fx-border-color: -color-slate_3;
    -fx-background-insets: 0;
}

/* ComboBox */

.combo-box:disabled .text, .combo-box:disabled .arrow-button:disabled .arrow:disabled {
    -fx-fill: -color-slate_11;
    -fx-background-color: -color-slate_11;
}

/*
    Radio Button
*/

.radio-button {
    -fx-label-padding: 0 0 0 8;
}

.radio-button .radio {
    -fx-background-color: -color-white, -color-slate_7, -color-white;
    -fx-background-insets: -4, -1, 0;
}


.radio-button:selected > .radio {
    -fx-background-color: -color-white, -color-base, -color-base
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -color-white;
    -fx-background-insets: 0;
}

.radio-button:focused > .radio {
    -fx-background-color: -color-focus, -color-base, -color-base
}

.radio-button:armed > .radio {
    -fx-background-color: -color-focus, -color-slate_7, -color-white
}

/*
    ListView (box like things)
*/

.list-view {
    -fx-background-color: -color-slate_7, -color-white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6, 5;
    -fx-padding: 4;
}

.list-view:focused {
    -fx-background-color: -color-slate_8, -color-white;
    -fx-background-radius: 7.5, 6;
    -fx-background-insets: -1, 0.5;
}

.combo-box-popup .list-view:focused {
    -fx-background-color: -color-white;
    -fx-background-insets: 0;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(17, 24, 28, 0.3), 24, 0, 0, 4); /* color-black */
}

.list-view .list-cell {
    -fx-background-color: -color-white;
    -fx-text-fill: -color-black;
    -fx-padding: 2 6;
    -fx-background-radius: 4;
    -fx-pref-height: 24;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: -color-slate_4;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: -color-base;
    -fx-text-fill: -color-white;
}

/*
    Layout
 */

.import-section {
    -fx-padding: 56, 20;
}

.blue-bg {
    -fx-background-color: -color-blue_bg;
}

.red-bg {
    -fx-background-color: -bg_red-color;
}

.content-wrapper {
    -fx-padding: 24 24 0;
}

.drop-zone {
    -fx-border-color: -color-white;
    -fx-border-width: 2;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

/*
    Scrollbar
*/

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding: 0 8 0 0;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 0 8 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-insets: 2, 0, 0;
    -fx-background-color: -color-slate_9;
    -fx-background-radius: 16;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -color_slate_10;
}
