.root {
    /* primary */
    -white-color: #FFFFFF;
    -base-color: #4263EB;
    -black-color: #212529;

    /* tertiary */
    -hover-color: #5C7CFA;
    -pressed-color: #364FC7;
    -disabled-color: #BAC8FF;
    -bg_blue-color: #F4F7FF;

    /* secondary */
    -gray_6-color: #868E96;
    -gray_5-color: #ADB5BD;
    -gray_3-color: #DEE2E6;
    -gray_2-color: #E9ECEF;
    -gray_1-color: #F1F3F5;
    -gray_0-color: #F8F9FA;

    -fx-background-color: -white-color;
    -fx-padding: 0 0 32 0;
}

/*
    Typography
 */

.text {
    -fx-font-smoothing-type: gray;
}

.button, .label, .text-field, .combo-box {
    -fx-font-family: 'Inter';
    -fx-font-size: 16;
}

.h6 {
    -fx-font-family: 'Inter';
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 0 0 24;
}


/*
    Buttons
 */

.button {
    -fx-background-color: -base-color;
    -fx-text-fill: -white-color;
    -fx-font-weight: bold;
    -fx-padding: 0 20 0 20;
    -fx-background-radius: 8;
    -fx-pref-height: 47; /* equals to 48. Button is one pixel bigger than preferred height. */
    -fx-content-display: right;
    -fx-graphic-text-gap: 8;
}

.button:hover {
    -fx-background-color: -hover-color;
}

.button:disabled {
    -fx-opacity: 1;
    -fx-background-color: -disabled-color;
}

.button:pressed {
    -fx-background-color: -pressed-color;
}

.button:focused {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2; /* fix that focussed button  */
    -fx-border-width: 0;
}

/*
    Textfield
 */
.text-field {
    -fx-background-color: -white-color;
    -fx-prompt-text-fill: -gray_6-color;
    -fx-border-color: -gray_3-color;
    -fx-padding: 0 20 0 20;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-pref-height: 48;
}

/* disabled */
.text-field:disabled {
    -fx-opacity: 1;
    -fx-background-color: -gray_0-color;
    -fx-border-color: -gray_3-color;
}

.text-field:focused {
    -fx-border-color: -hover-color;
}

/*
    ComboBox
 */

.combo-box, .combo-box > * {
    -fx-padding: 0;
}

.combo-box {
    -fx-background-color: -white-color;
    -fx-border-color: -gray_3-color;
    -fx-padding: 0 20 0 20;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-insets: 0 0 0 0;
    -fx-pref-height: 48;
}

.combo-box:disabled, .combo-box:disabled > * {
    -fx-opacity: 1.0;
    -fx-effect: null;
}

.combo-box:disabled {
    -fx-background-color: -gray_0-color;
    -fx-border-color: -gray_3-color;
}

.combo-box:disabled .text, .combo-box:disabled .arrow-button:disabled .arrow:disabled {
    -fx-fill: -gray_6-color;
    -fx-background-color: -gray_6-color;
}

.combo-box:focused {
    -fx-border-color: -hover-color;
}

/*
    Layout
 */

.import-section {
    -fx-padding: 56px, 20px;
}

.blue-bg {
    -fx-background-color: -bg_blue-color;
}

.content-section {
    -fx-padding: 32 32 0;
}
