.root {
    -fx-padding: 0;
    /*
        Colors (Radix UI Colors https://www.radix-ui.com/colors)
    */

    /* primary */

    -color-white: #FFFFFF;
    -color-base: #3E63DD; /* indigo-9 */
    -color-black: #11181C; /* slate-12 */

    -color-hover: #3A5CCC; /* indigo-10 */
    -color-pressed: #3451B2; /* indigo-11 */
    -color-disabled: #AEC0F5; /* indigo-7 */
    -color-focus: #AEC0F5; /* indigo-7 */

    -color-indigo_9: #364FC7;
    -color-indigo_5: #D9E2FC;
    -color-indigo_4: #E6EDFE;
    -color-blue_bg: #F8FAFF; /* indigo-2 */

    /* neutral */
    -color-slate_11: #687076;
    -color-slate_10: #7E868C;
    -color-slate_9: #889096;
    -color-slate_8: #C1C8CD;
    -color-slate_7: #D7DBDF;
    -color-slate_6: #DFE3E6;
    -color-slate_5: #E6E8EB;
    -color-slate_4: #ECEEF0;
    -color-slate_3: #F1F3F5;
    -color-slate_2: #F8F9FA;
    -color-slate_1: #FBFCFD;

    /* tertiary */
    -color-tomato_11: #CA3214;
    -color-tomato_5: #FDD8D3;
    -color-tomato_4: #FFE6E2;
    -color-tomato_3: #FFF0EE;
    -bg_red-color: #FFF5F5;

    -fx-background-color: -color-white;
}

/*
    Typography
 */

.text {
    -fx-font-smoothing-type: gray;
    -fx-text-fill: -color-black;
}

.text-input {
    -fx-highlight-text-fill: -color-black;
    -fx-highlight-fill: -color-indigo_5;
}

.text-pink_9 {
    -fx-text-fill: -pink_9-color;
}

.text-indigo_9 {
    -fx-text-fill: -color-indigo_9;
}

.button,
.menu-button,
.label,
.text-field,
.combo-box,
.radio-button,
.check-box,
.list-cell,
.tab-pane,
.tooltip {
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
}

.radio-button,
.check-box {
    -fx-font-family: 'Inter Medium';
}

/* heading */

.h-sm {
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 16;
}

.h-md {
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 20;
}

/* body */

.body-sm {
    -fx-font-size: 12;
}

.body-medium {
    -fx-font-family: 'Inter Medium';
}

.body-semibold {
    -fx-font-family: 'Inter Semi Bold';
}

.caption {
    -fx-text-fill: -color-slate_11;
}

/*
    Shadow
*/

/* default */
.combo-box-popup .list-view:focused,
.context-menu {
    -fx-effect: dropshadow(gaussian, rgba(17, 24, 28, 0.2), 24, 0, 0, 4); /* color-black */
}

/* small */
.tooltip {
    -fx-effect: dropshadow(gaussian, rgba(17, 24, 28, 0.2), 8, 0, 0, 1); /* color-black */
}


/*
    Layout
 */

/* height */

.h-20 {
    -fx-min-height: 20;
}

.h-16 {
    -fx-min-height: 16;
}

.import-section {
    -fx-padding: 56, 20;
}

.blue-bg {
    -fx-background-color: -color-blue_bg;
}

.red-bg {
    -fx-background-color: -bg_red-color;
}

.content-wrapper {
    -fx-padding: 24 24 0;
}

.drop-zone {
    -fx-border-color: -color-white;
    -fx-border-width: 2;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

/*
    Buttons
 */

.button,
.menu-button > .label {
    -fx-background-color: -color-base;
    -fx-text-fill: -color-white;
    -fx-font-family: 'Inter Semi Bold';
    -fx-padding: 6 12;
    -fx-background-radius: 6;
    -fx-pref-height: 32;
    -fx-background-insets: 0;
    -fx-content-display: right;
    -fx-graphic-text-gap: 8;
}

.button:disabled,
.menu-button:disabled > .label{
    -fx-opacity: 1;
    -fx-background-color: -color-disabled;
}

.button:focused,
.menu-button:focused > .label {
    -fx-background-color: -color-focus, -color-base;
    -fx-border-width: 0;
    -fx-background-radius: 9, 6;
    -fx-background-insets: -4, 0;
}

.button:hover,
.menu-button:hover > .label{
    -fx-background-color: -color-focus, -color-hover;
}

.button:pressed,
.menu-button:pressed > .label {
    -fx-background-color: -color-focus, -color-pressed;
}

/* menu button */

.menu-button {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

/* secondary */

.button-secondary,
.button-secondary > .label {
    -fx-text-fill: -color-black;
    -fx-background-radius: 9, 6;
    -fx-background-color: -color-slate_4, -color-slate_4;
}

.button-secondary:hover,
.button-secondary:hover > .label {
    -fx-background-color: -color-slate_5, -color-slate_5;
}

.button-secondary:focused,
.button-secondary:focused > .label {
    -fx-background-color: -color-focus, -color-slate_4;
}

.button-secondary:pressed,
.button-secondary:pressed > .label {
    -fx-background-color: -color-focus, -color-slate_6;
}

/* tertiary */

.button-tertiary, .button-tertiary:hover, .button-tertiary:pressed .button-tertiary:focused {
    -fx-text-fill: -color-black;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 9, 6, 4.5;
}

.button-tertiary {
    -fx-background-color: -color-focus, -color-slate_7, -color-white;

}

.button-tertiary:focused {
    -fx-background-color: -color-focus, -color-slate_7, -color-white;
    -fx-background-insets: -4, 0, 1;
    -fx-background-radius: 9, 6, 4.5;
}

.button-tertiary:hover {
    -fx-background-color: -color-focus, -color-slate_8, -color-white;
}

.button-tertiary:pressed {
    -fx-background-color: -color-focus, -color-slate_4, -color-slate_4;
}

/* destructive */

.button-destructive, .button-destructive:hover, .button-destructive:focused, .button-destructive:pressed {
    -fx-text-fill: -color-tomato_11;
}

.button-destructive {
    -fx-background-color: -color-white, -color-tomato_3;
}

.button-destructive:hover {
    -fx-background-color: -color-focus, -color-tomato_4;

}

.button-destructive:focused {
    -fx-background-color: -color-focus, -color-tomato_3;

}

.button-destructive:pressed {
    -fx-background-color: -color-focus, -color-tomato_5;
}

.button-icon {
    -fx-padding: 8;
    -fx-pref-height: 32;
    -fx-pref-width: 32;
}

.menu-button-icon > .label {
    -fx-padding: 8;
}

/*
    TextField, ComboBox
 */

.combo-box, .combo-box > * {
    -fx-padding: 0;
}

.text-field,
.combo-box {
    -fx-padding: 6 12;
}

.text-field,
.combo-box,
.spinner {
    -fx-background-color: -color-white;
    -fx-prompt-text-fill: -color-slate_11;
    -fx-border-color: -color-slate_7;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-insets: 0;
}

.text-field:focused,
.combo-box:focused,
.spinner:focused {
    -fx-border-color: -color-base;
    -fx-background-color: -color-base, -color-white;
    -fx-background-radius: 7.5, 6;
    -fx-background-insets: -1, 0.5;
}

.combo-box:disabled > * {
    -fx-opacity: 1;
    -fx-effect: null;
}

.text-field:disabled, .combo-box:disabled {
    -fx-opacity: 1;
    -fx-background-color: -color-slate_3;
    -fx-border-color: -color-slate_3;
    -fx-background-insets: 0;
}

.text-field:hover {
    -fx-cursor: text;
}

/* Spinner */

.spinner > .text-field {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.spinner > .increment-arrow-button,
.spinner > .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 8;
}

.spinner > .increment-arrow-button:hover {
    -fx-background-radius: 0 5.5 0 0;
}

.spinner > .decrement-arrow-button {
    -fx-background-radius: 0 0 5.5 0;
}

.spinner > .increment-arrow-button:hover,
.spinner > .decrement-arrow-button:hover {
    -fx-background-color: -color-slate_4;
}

.spinner > .increment-arrow-button > .increment-arrow,
.spinner > .decrement-arrow-button > .decrement-arrow {
    -fx-background-color: -color-slate_11;
}


/* ComboBox */

.combo-box:disabled .text, .combo-box:disabled .arrow-button:disabled .arrow:disabled {
    -fx-fill: -color-slate_11;
    -fx-background-color: -color-slate_11;
}

/*
    Radio Button
*/

.radio-button {
    -fx-label-padding: 0 0 0 8;
}

.radio-button .radio {
    -fx-background-color: -color-white, -color-slate_7, -color-white;
    -fx-background-insets: -4, -1, 0;
}


.radio-button:selected > .radio {
    -fx-background-color: -color-white, -color-base, -color-base
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -color-white;
    -fx-background-insets: 0;
}

.radio-button:focused > .radio {
    -fx-background-color: -color-focus, -color-base, -color-base
}

.radio-button:armed > .radio {
    -fx-background-color: -color-focus, -color-slate_7, -color-white
}

/*
    CheckBox
*/

.check-box {
    -fx-label-padding: 0 0 0 8;
}

.check-box > .box {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-color: -color-slate_7;
    -fx-border-radius: 3;
    -fx-background-radius: 4;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-padding: 0;
}

.check-box:disabled {
    -fx-opacity: 1;
}

.check-box:hover > .box {
    -fx-background-color: -color-slate_2;

}

.check-box:disabled > .box {
    -fx-background-color: -color-slate_3;
}

.check-box:selected > .box > .mark {
    -fx-background-color: -color-white;
}

.check-box:selected > .box {
    -fx-background-color: -color-base;
    -fx-border-color: transparent;
}

.check-box:selected:hover > .box {
    -fx-background-color: -color-hover;
}

.check-box:focused > .box {
    -fx-background-insets: -4, 0;
    -fx-background-radius: 7, 4;
    -fx-background-color: -color-focus, -color-white;
}

.check-box:selected:focused > .box {
    -fx-background-color: -color-focus, -color-base;
}

.check-box > .box > .mark {
    -fx-shape: "M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z";
    -fx-scale-y: 0.55;
    -fx-scale-x: 0.75;
    -fx-padding: 0;
}

/*
    ListView (box like things) and context menus
*/

.list-view {
    -fx-background-color: -color-slate_7, -color-white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6, 5;
    -fx-padding: 4;
}

.list-view:focused {
    -fx-background-color: -color-slate_8, -color-white;
    -fx-background-radius: 7.5, 6;
    -fx-background-insets: -1, 0.5;
}

.combo-box-popup .list-view:focused,
.context-menu {
    -fx-background-color: -color-white;
    -fx-padding: 4;
    -fx-background-insets: 0;
    -fx-background-radius: 6;
}

.menu-item:focused {
    -fx-background-color: -color-indigo_4;
}

.menu-item:focused > .label {
    -fx-text-fill: -color-black;
}

.list-view .list-cell,
.menu-item {
    -fx-background-color: -color-white;
    -fx-text-fill: -color-black;
    -fx-padding: 2 6;
    -fx-background-radius: 4;
    -fx-pref-height: 24;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: -color-slate_4;
}

.list-view .list-cell:filled:selected,
.menu-item:hover {
    -fx-background-color: -color-base;
    -fx-text-fill: -color-white;
}

/* ListView large */

.list-view-large .list-cell {
    -fx-padding: 4;
    -fx-pref-height: 56;
}

.list-view-large .list-cell:filled:selected {
    -fx-background-color: -color-indigo_4;
    -fx-text-fill: -color-black;
}

.list-view-large .list-cell:filled:selected .label {
    -fx-text-fill: -color-black;
}

/* menu item */

.menu-item:disabled {
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.menu-item:disabled:focused {
    -fx-background-color: -color-slate_3;
}

.menu-item:disabled > .label,
.menu-item:disabled:hover > .label {
    -fx-text-fill: -color-slate_11;
}

.menu-item:hover > .label {
    -fx-text-fill: -color-white;
}

.context-menu .separator {
    -fx-padding: 4 0;
}

.context-menu .separator .line {
    -fx-border-color: -color-slate_6;
    -fx-border-width: 0.5;
    -fx-border-insets: 0;
}

/*
    Scrollbar
*/

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-padding: 0 8 0 0;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 0 8 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.virtual-flow .corner {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-insets: 2, 0, 0;
    -fx-background-color: -color-slate_9;
    -fx-background-radius: 16;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -color-slate_10;
}

/*
    TabPane
*/
.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-background {
    -fx-background-color: -color-slate_6, -color-white;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.tab-pane .tab {
    -fx-background-color: -color-white;
    -fx-padding: 6 12;
    -fx-pref-height: 32;
    -fx-background-radius: 0;
}

.tab-pane .tab:hover {
    -fx-background-color: -color-slate_4;
}

.tab-pane .tab:selected {
    -fx-background-color: -color-base, -color-white;
    -fx-background-insets: 0 0 0 0, 0 0 2 0;
}

.tab-pane .tab:selected:hover {
    -fx-background-color: -color-base, -color-slate_4;
    -fx-background-insets: 0 0 0 0, 0 0 2 0;
}


.tab-pane .tab:selected .tab-label {
    -fx-text-fill: -color-base;
}

.tab-pane .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/*
    Tooltip
*/

.tooltip {
    -fx-text-fill: -color-black;
    -fx-background-color: -color-white;
    -fx-background-radius: 6;
    -fx-opacity: 1;
    -fx-padding: 4 8;
}